{% sw_extends '@Storefront/storefront/page/product-detail/review/review-item.html.twig' %}

 {% block page_product_detail_review_item_info_points %}
 {% endblock %}

{% block page_product_detail_review_item_title %}
    <div class="product-detail-review-item-bow">
        <div class="product-detail-review-item-bow-title h5">
                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: review.points
                } %}
            {{ review.title }}
        </div>
    </div>

{% endblock %}
