.bow-home-banner {
  height: 55vh;
  .cms-section-default {
    height: 100%;
    .cms-block-text-on-image {
      height: 100%;
      .cms-block-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .cms-element-text {
          display: flex;
          justify-content: center;
          padding: 0;
          h2 {
            color: $primary-font-color !important;
            padding: 20px;
            font-size: 3rem;
            font-weight: 200;
            letter-spacing: 2px;
            background-color: rgba(255,255,255, .7);
            line-height: 1.2;
          }
        }
      }
    }
  }
}
.bow-home {
  h2 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  p {
    line-height: 2;
  }
}

.bow-home-usp {
  max-height: 1000px;
  .row {
    margin-left: 0;
    margin-right: 0;
    .col-md-6 {
      padding-left: 0;
      padding-right: 0;
      &:first-child {
        max-width: 66.66666%;
        flex: 0 0 66.66666%;
        .cms-element-text{
          max-width: 80%;
          margin: 5rem auto;
          h2 {
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
          }
          h3 {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 2rem;
          }
          p {
            line-height: 2;
          }
        }
      }
      &:last-child {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
        .cms-element-text {
          padding-top: 0;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, .7);
          }
          .btn {
            position: absolute;
            top: 500px;
            left: 25%;
          }
        }
      }
    }
  }
}

.bow-bg-boxes {
  .row {
    margin-left: 0;
    margin-right: 0;

    .col-md-4 {
      padding-left: 0;
      padding-right: 0;
      position: relative;

      .cms-element-image {
        //filter: grayscale(1);
        transition: .5s ease-in-out;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0, .3);
          z-index: 99;
          transition: .5s ease-in-out;
        }
      }
      >div:last-child {
        .cms-element-text {
          color: $font-color-white;
          position: absolute;
          width: 70%;
          left: 15%;
          top: 75%;
          transition: .5s ease-in-out;
          h3 {
            color: $font-color-white;
            text-transform: uppercase;
            font-weight: 400;
            transition: .5s ease-in-out;
          }
          p {
            border-left: 3px solid $primary-color;
            padding-top: 5rem;
            padding-left: 1rem;
            padding-bottom: 20rem;
            transition: .5s ease-in-out;
          }
        }
      }
      &:hover {
        .cms-element-image {
          filter: grayscale(1);
          &:before {
            background-color: rgba(0,0,0, .5);
          }
        }
        >div:last-child {
          .cms-element-text {
            top: 5%;
            h3 {
              color: $font-color-white;
              margin-bottom: 1rem;
            }
            p {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

.instagram--intro {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#blog {
  .card-header {
    background-color: transparent;
  }
  .tns-slider {
    .tns-item {
      padding-left: 0 !important;
    }
  }
}
@media screen and (max-width: $screen-xl) {
  .bow-home-banner {
    .cms-section-default {
      .cms-block-text-on-image {
        .cms-block-container {
          .cms-element-text {
            h2 {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  .bow-home {
    h2 {
      font-size: 2rem;
    }
  }

  .bow-home-usp {
    max-height: 1600px;
    .row {
      .col-md-6 {
        &:first-child {
          max-height: 1400px;
          max-width: 100%;
          flex: 0 0 100%;
          .cms-element-text{
            max-width: 90%;
            margin: 2rem auto;
            h2 {
              font-size: 2rem;
              font-weight: 500;
              margin-bottom: 1.5rem;
            }
            h3 {
              font-size: 1.5rem;
              font-weight: 400;
              margin-bottom: 2rem;
            }
            p {
              line-height: 2;
            }
          }
        }
        &:last-child {
          height: 200px;
          max-width: 100%;
          flex: 0 0 100%;
          .cms-element-text {
            padding-top: 0;
            .btn {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  .bow-bg-boxes {
    .row {
      margin-left: 0;
      margin-right: 0;

      .col-md-4 {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        .cms-element-image {
          //filter: grayscale(1);
          &:before {
            background-color: rgba(0, 0, 0, .0);
          }
        }
        >div:last-child {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .65);
          .cms-element-text {
            top: 5%;
            h3 {
              color: $font-color-white;
              margin-bottom: 1rem;
            }
            p {
              padding-top: 0;
            }
          }
          }
        &:hover {
          .cms-element-image {
            filter: grayscale(0);
            &:before {
              background-color: rgba(0,0,0, .0);
            }
          }
        }
      }
    }
  }
}