// Colors

$primary-color: #C60C31;
$secondary-color: #EAEAEA;
$primary-bg-color: white;
$secondary-bg-color: #F8F7F8;
$bg-color-dark: black;
$primary-font-color: black;
$secondary-font-color: #7F7F7F;
$font-color-white: white;
$font-color-orange: #C60C31;
$primary-headline-color: black;
$btn-hover-color: #C60C31;

// Screen breakpoints

$screen-sm: 576px; // Phone Viewport Width
$screen-md: 769px; // Tablet Viewport Width
$screen-lg: 992px; //  Tablet Landscape Viewport Width
$screen-xl: 1200px; // Desktop Viewport Width
$screen-xxl: 1600px; // Large Desktop Viewport Width

// Spacer

$spacer: 3.2rem;
$spacer-xs: ($spacer * 0.25);
$spacer-sm: ($spacer * 0.5);
$spacer-md: $spacer;
$spacer-lg: ($spacer * 1.5);
$spacer-xl: ($spacer * 3);