{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    <header class="header-main">
        {% block base_header_inner %}
            <div class="header-container">
                {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block base_navigation %}

{% endblock %}

{% block base_scroll_up %}
    {% sw_include '@Storefront/storefront/layout/scroll-up.html.twig' %}
{% endblock %}