{% block layout_scroll_up_inner %}
    <div class="scroll-up-container"
         data-scroll-up="true">
        {% block layout_scroll_up_button %}
            <div class="scroll-up-button js-scroll-up-button">
                <button type="submit"
                        class="btn btn-primary">
                    {% block layout_scroll_up_button_icon %}
                        {% sw_icon 'arrow-head-up' style { 'size': 'lg' } %}
                    {% endblock %}
                </button>
            </div>
        {% endblock %}
        <a class="bottom-cta-btn" href="tel:{{ "frisch.contact.phoneLink"|trans|sw_sanitize }}" title="{{ "frisch.hotlineButton.title"|trans|sw_sanitize }}">
            <div class="headset-icon-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22.775" height="25.305" viewBox="0 0 22.775 25.305"><defs><style>.a{fill:#a9a8be;}</style></defs><path class="a" d="M15.887,1.5C9.6,1.5,4.5,6.135,4.5,11.852V19.9a3.631,3.631,0,0,0,3.8,3.451h3.8v-9.2H7.031v-2.3c0-4.451,3.96-8.052,8.857-8.052s8.857,3.6,8.857,8.052v2.3H19.683v9.2h5.061V24.5H15.887v2.3h7.592a3.631,3.631,0,0,0,3.8-3.451v-11.5C27.275,6.135,22.176,1.5,15.887,1.5Z" transform="translate(-4.5 -1.5)"/></svg>
            </div>

        </a>
    </div>
{% endblock %}
{#  <div class="d-block d-xl-none bow-sticky-bottom-bar">
    <div class="row col-12 content-align-center">
        <div class="bottom-bar-icon-link col-3" >
            {% block layout_header_navigation_toggle %}
                <div class="menu-button">
                    {% block layout_header_navigation_toggle_button %}
                        <button class="btn nav-main-toggle-btn header-actions-btn"
                                type="button"
                                data-offcanvas-menu="true"
                                aria-label="{{ "general.menuLink"|trans|striptags }}">
                            {% block layout_header_navigation_toggle_button_icon %}
                                {% sw_icon 'stack' %}
                            {% endblock %}
                        </button>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
        <div class="bottom-bar-icon-link col-3" >
            {% block layout_header_actions_account %}
                <div class="account-menu">
                    {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                </div>
            {% endblock %}
        </div>
        <div class="bottom-bar-icon-link col-3" >
            {% if config('core.cart.wishlistEnabled') %}
                {% block layout_header_actions_wishlist %}
                    <div class="header-wishlist">
                        <a class="btn header-wishlist-btn header-actions-btn"
                           href="{{ path('frontend.wishlist.page') }}"
                           title="{{ 'header.wishlist'|trans|striptags }}"
                           aria-label="{{ 'header.wishlist'|trans|striptags }}">
                            {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}

                        </a>
                    </div>
                {% endblock %}
            {% endif %}
        </div>
        <div class="bottom-bar-icon-link col-3" >
            {% block layout_footer_actions_cart %}
                <div class="header-cart"
                     data-offcanvas-cart="true">
                    <a class="btn header-cart-btn header-actions-btn"
                       href="{{ path('frontend.checkout.cart.page') }}"
                       data-cart-widget="true"
                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                    </a>
                </div>
            {% endblock %}
        </div>
    </div>
</div>#}
