{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}
{% block layout_footer_inner_container %}
    <div class="container">

        {% block layout_footer_navigation %}
            <div id="footerColumns"
                 class="row footer-columns"
                 data-collapse-footer="true">
                {% block layout_footer_navigation_hotline %}
                    <div class="col-md-6 col-lg-3 footer-column js-footer-column">
                        {% block layout_footer_navigation_hotline_headline %}
                            <div class="footer-column-headline show footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                                 id="collapseFooterHotlineTitle"
                                 data-target="#collapseFooterHotline"
                                 aria-expanded="true"
                                 aria-controls="collapseFooterHotline">
                                {{ 'footer.serviceHotlineHeadline'|trans|sw_sanitize }}
                                {% block layout_footer_navigation_hotline_icons %}
                                    <div class="footer-column-toggle">
                                        <span class="footer-plus-icon">
                                            {% sw_icon 'plus' %}
                                        </span>
                                        <span class="footer-minus-icon">
                                            {% sw_icon 'minus' %}
                                        </span>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block layout_footer_navigation_hotline_content %}
                            <div id="collapseFooterHotline"
                                 class="footer-column-content collapse show js-footer-column-content footer-contact"
                                 aria-labelledby="collapseFooterHotlineTitle">
                                <div class="footer-column-content-inner">
                                    <p class="footer-contact-hotline">
                                        {{ 'frisch.footer.serviceHotline'|trans|sw_sanitize }}
                                    </p>
                                </div>
                                <div class="bow-social-icons">
                                    <a class="social-icon-link" href="{{ "frisch.footer.social.facebook"|trans|sw_sanitize }}" title="Facebook" target="_blank">
                                        <img class="" src="{{ asset('bundles/bowfrischtheme/assets/icons/facebook.svg') }}" alt="Facebook">
                                    </a>
                                    <a class="social-icon-link" href="{{ "frisch.footer.social.instagram"|trans|sw_sanitize }}" title="Instagram" target="_blank">
                                        <img class="" src="{{ asset('bundles/bowfrischtheme/assets/icons/instagram.svg') }}" alt="Instagram">
                                    </a>
                                    <a class="social-icon-link" href="{{ "frisch.footer.social.linkedIn"|trans|sw_sanitize }}" title="LinkedIn" target="_blank">
                                        <img class="" src="{{ asset('bundles/bowfrischtheme/assets/icons/linkedin.svg') }}" alt="LinkedIn">
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block layout_footer_navigation_columns %}
                    {% for root in page.footer.navigation.tree %}
                        {% block layout_footer_navigation_column %}
                            <div class="col-md-6 col-lg-3 footer-column js-footer-column">
                                {% block layout_footer_navigation_information_headline %}
                                    <div class="footer-column-headline footer-headline js-collapse-footer-column-trigger"
                                         data-target="#collapseFooterTitle{{ loop.index }}"
                                         aria-expanded="true"
                                         aria-controls="collapseFooter{{ loop.index }}">
                                        {{ root.category.translated.name }}
                                        {% block layout_footer_navigation_information_icons %}
                                            <div class="footer-column-toggle">
                                                <span class="footer-plus-icon">
                                                    {% sw_icon 'plus' %}
                                                </span>
                                                <span class="footer-minus-icon">
                                                    {% sw_icon 'minus' %}
                                                </span>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block layout_footer_navigation_information_content %}
                                    <div id="collapseFooter{{ loop.index }}"
                                         class="footer-column-content collapse js-footer-column-content"
                                         aria-labelledby="collapseFooterTitle{{ loop.index }}">
                                        <div class="footer-column-content-inner">
                                            {% block layout_footer_navigation_information_links %}
                                                <ul class="list-unstyled">
                                                    {% for treeItem in root.children %}
                                                        {% set category = treeItem.category %}
                                                        {% set name = category.translated.name %}

                                                        {# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
                                                        {% set externalLink = category.translated.externalLink %}

                                                        {% block layout_footer_navigation_information_link_item %}
                                                            <li class="footer-link-item">
                                                                {% block layout_footer_navigation_information_link %}
                                                                    {% if category.type == 'folder' %}
                                                                        <div>{{ name }}</div>
                                                                    {% else %}
                                                                        <a class="footer-link"
                                                                           href="{{ category_url(category) }}"
                                                                           {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                                                           title="{{ name }}">
                                                                            {{ name }}
                                                                        </a>
                                                                    {% endif %}
                                                                {% endblock %}
                                                            </li>
                                                        {% endblock %}
                                                    {% endfor %}
                                                </ul>
                                            {% endblock %}
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endfor %}
                {% endblock %}

                {% block layout_footer_navigation_newsletter %}
                    <div class="col-md-6 col-lg-3 footer-column js-footer-column">
                        {% block layout_footer_navigation_newsletter_headline %}
                            <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                                 id="collapseFooterHotlineTitle"
                                 data-target="#collapseFooterHotline"
                                 aria-expanded="true"
                                 aria-controls="collapseFooterHotline">
                                Newsletter
                                {% block layout_footer_navigation_newsletter_icons %}
                                    <div class="footer-column-toggle">
                                        <span class="footer-plus-icon">
                                            {% sw_icon 'plus' %}
                                        </span>
                                        <span class="footer-minus-icon">
                                            {% sw_icon 'minus' %}
                                        </span>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block layout_footer_navigation_newsletter_content %}
                            <div id="collapseFooterHotline"
                                 class="footer-column-content collapse js-footer-column-content footer-contact"
                                 aria-labelledby="collapseFooterHotlineTitle">
                                <div class="footer-column-content-inner">
                                    <p class="footer-newsletter-content">
                                        {{ "frisch.footer.newsletter.info"|trans|sw_sanitize }}
                                    </p>
                                    <a href="{{ "frisch.footer.newsletter.buttonLink"|trans|sw_sanitize }}" class="btn btn-cta btn-with-corners-secondary newsletter-action-btn">
                                        <span class="newsletter-icon">{% sw_icon 'envelope' %}</span>{{ "frisch.footer.newsletter.buttonText"|trans|sw_sanitize }}
                                    </a>
                                </div>

                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block layout_footer_payment_shipping_logos %}

        {% endblock %}

    </div>

    {% block layout_footer_bottom %}
        <div class="footer-bottom">
            {% block layout_footer_service_menu %}
                <div class="container">
                    {% block layout_footer_service_menu_content %}
                        {% apply spaceless %}
                            <ul class="footer-service-menu-list list-unstyled">
                                {% for serviceMenuItem in page.header.serviceMenu %}
                                    {% block layout_footer_service_menu_item %}
                                        <li class="footer-service-menu-item">
                                            <a class="footer-service-menu-link"
                                               href="{{ category_url(serviceMenuItem) }}"
                                               {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                               title="{{ serviceMenuItem.translated.name }}">
                                                {{ serviceMenuItem.translated.name }}
                                            </a>
                                        </li>
                                    {% endblock %}
                                {% endfor %}
                            </ul>
                        {% endapply %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_footer_vat %}
                <div class="footer-vat">
                    {% if context.taxState == "gross" %}
                        <p>
                            {{ "footer.includeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        </p>
                    {% else %}
                        <p>
                            {{ "footer.excludeVat"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') })
                            })|raw }}
                        </p>
                    {% endif %}
                </div>
            {% endblock %}

            {% block layout_footer_copyright %}
                <div class="footer-copyright">
                    {{ "frisch.footer.copyrightInfo"|trans|sw_sanitize }} |&nbsp;
                    <a href="https://bow-agentur.de" target="_blank">
                        <img src="{{ asset('bundles/bowfrischtheme/assets/bow-logo.svg') }}"
                             alt="{{ "frisch.footer.bowInfo"|trans|sw_sanitize }}"
                             title="{{ "frisch.footer.bowInfo"|trans|sw_sanitize }}"
                             class="bow-logo" />
                    </a>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
