{% block page_procuct_detail_accordion %}
    <div class="container-lg">
        <div class="accordion" id="PDPaccordion">
            {# DESCRIPTION accordion card #}
            {% if page.product.translated.description is not empty %}
                <div class="card">
                    <div class="card-header" id="heading1">
                        <h3>
                            <button class="btn btn-link"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapse1"
                                    aria-expanded="true"
                                    aria-controls="collapse1">
                                {{ "frisch.pdp.productDetails"|trans|sw_sanitize }}
                                <span class="card-content-trigger-icon">
                                    {% sw_icon 'plus' %}
                                </span>
                            </button>
                        </h3>
                    </div>

                    <div id="collapse1"
                         class="collapse show"
                         aria-labelledby="heading1"
                         data-parent="#PDPaccordion">
                        <div class="card-body">
                            {{ page.product.translated.description|raw }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# TECHNICAL DETAILS accordion card #}
            {% if page.product.customFields.custom_pdp_tech is not empty %}
                <div class="card">
                    <div class="card-header" id="heading2">
                        <h3>
                            <button class="btn btn-link"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapse2"
                                    aria-expanded="false"
                                    aria-controls="collapse2">
                                {{ "frisch.pdp.techDetails"|trans|sw_sanitize }}
                                <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                            </button>
                        </h3>
                    </div>

                    <div id="collapse2"
                         class="collapse"
                         aria-labelledby="heading2"
                         data-parent="#PDPaccordion">
                        <div class="card-body">
                            {{ page.product.customFields.custom_pdp_tech|raw }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# SHIPPING accordion card #}
            {% if page.product.customFields.custom_pdp_shipping is not empty %}
                <div class="card">
                    <div class="card-header" id="heading3">
                        <h3>
                            <button class="btn btn-link"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapse3"
                                    aria-expanded="false"
                                    aria-controls="collapse3">
                                {{ "frisch.pdp.shipping"|trans|sw_sanitize }}
                                <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                            </button>
                        </h3>
                    </div>

                    <div id="collapse3"
                         class="collapse"
                         aria-labelledby="heading3"
                         data-parent="#PDPaccordion">
                        <div class="card-body">
                            {{ page.product.customFields.custom_pdp_shipping|raw }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {# REVIEW accordion card #}

            {# <input type="hidden" class="url-product-bugfix" value="{{ page.product. }}"/> #}
            <div class="card">
                <div class="card-header" id="heading4">
                    <h3>
                        <button class="btn btn-link"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapse4"
                                aria-expanded="true"
                                aria-controls="collapse4">
                            {{ "frisch.pdp.review"|trans|sw_sanitize }}
                            <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                        </button>
                    </h3>
                </div>

                <div id="collapse4"
                     class="collapse show"
                     aria-labelledby="heading4"
                     data-parent="#PDPaccordion">
                    <div class="card-body">
                        {% sw_include '@Storefront/storefront/page/product-detail/review/review.html.twig' with {'reviews': page.reviews} %}
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}