{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_content %}
    {% block page_product_detail %}
        <div class="product-detail"
             itemscope
             itemtype="https://schema.org/Product">
            {% block page_product_detail_inner %}
                {% block page_product_detail_content %}
                    <div class="product-detail-content">
                        {% set mediaItems = page.product.media.media %}
                        {% block page_product_detail_main %}
                            <div class="row product-detail-main">
                                {% block page_product_detail_media %}
                                    <div class="col-xl-5 product-detail-media">
                                        {% if page.product.media %}
                                            {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                                                'mediaItems': mediaItems,
                                                'zoom': true,
                                                'zoomModal': true,
                                                'displayMode': 'contain',
                                                'gutter': 5,
                                                'minHeight': '800px',
                                                'navigationArrows': 'inside',
                                                'navigationDots': 'inside',
                                                'galleryPosition': 'underneath',
                                                'isProduct': true,
                                                'fallbackImageTitle': page.product.translated.name,
                                                'startIndexThumbnails': page.product.cover.position + 1,
                                                'startIndexSlider': page.product.cover.position + 1
                                            } %}
                                        {% endif %}
                                    </div>
                                {% endblock %}

                                {% block page_product_detail_buy %}

                                        <div class="col-xl-7 product-detail-buy-container">
                                            <div class="product-info-container">
                                                {% block page_product_detail_headline %}
                                                <div class="row align-items-center product-detail-headline">

                                                    {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
                                                </div>
                                                {% endblock %}
                                                {% block page_product_detail_ordernumber_container %}
                                                    {% if page.product.productNumber %}
                                                        <div class="product-detail-ordernumber-container">
                                                            {% block page_product_detail_ordernumber_label %}
                                                                <span class="product-detail-ordernumber-label">
                                                                    {{ "detail.productNumberLabel"|trans|sw_sanitize }}
                                                                </span>
                                                            {% endblock %}

                                                            {% block page_product_detail_ordernumber %}
                                                                <meta itemprop="productID"
                                                                      content="{{ page.product.id }}"/>
                                                                <span class="product-detail-ordernumber"
                                                                      itemprop="sku">
                                    {{ page.product.productNumber }}
                                </span>
                                                            {% endblock %}
                                                        </div>
                                                    {% endif %}
                                                {% endblock %}

                                                {% set remoteClickOptions = {
                                                    selector: "#review-tab",
                                                    scrollToElement: true
                                                } %}

                                                {% block page_product_detail_reviews %}
                                            {% if page.product.ratingAverage > 0 and page.reviews.totalReviews > 0 and config('core.listing.showReview') %}
                                                <div class="product-detail-reviews">

                                                    {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                                                        points: page.product.ratingAverage,
                                                        style: 'text-primary'
                                                    } %}
                                                    <a class="product-detail-reviews-link"
                                                       href="#heading4">
                                                        {{ page.reviews.totalReviews }}
                                                        {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endblock %}

                                                <div class="product-short-description">
                                                    {{ page.product.customFields.custom_pdp_short_description|raw }}
                                                </div>
                                            </div>
                                            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block page_procuct_detail_accordion %}
                    <div class="container-lg">
                        <div class="accordion" id="PDPaccordion">
                        {# DESCRIPTION accordion card #}
                        {% if page.product.translated.description is not empty %}
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <h3>
                                        <button class="btn btn-link"
                                                type="button"
                                                data-toggle="collapse"
                                                data-target="#collapse1"
                                                aria-expanded="true"
                                                aria-controls="collapse1">
                                            {{ "frisch.pdp.productDetails"|trans|sw_sanitize }}
                                            <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                        </button>
                                    </h3>
                                </div>

                                <div id="collapse1"
                                     class="collapse show"
                                     aria-labelledby="heading1"
                                     data-parent="#PDPaccordion">
                                    <div class="card-body">
                                        {{ page.product.translated.description|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {# Accordion2 card #}

                            <div class="card">
                            <div class="card-header" id="heading2">
                                <h3>
                                    <button class="btn btn-link"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse2"
                                            aria-expanded="false"
                                            aria-controls="collapse2">
                                        {{ "frisch.pdp.accordion2"|trans|sw_sanitize }}
                                        <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                    </button>
                                </h3>
                            </div>

                            <div id="collapse2"
                                 class="collapse"
                                 aria-labelledby="heading2"
                                 data-parent="#PDPaccordion">
                                <div class="card-body">
                                    This is a Placeholder text. But I must explain to you how all this mistaken idea of
                                    denouncing pleasure and praising pain was born and I will give you a complete
                                    account of the system, and expound the actual teachings of the great explorer of the
                                    truth, the master-builder of human happiness. But I must explain to you how all this
                                    mistaken idea of denouncing pleasure and praising pain was born and I will give you
                                    a complete account of the system, and expound the actual teachings of the great
                                    explorer of the truth, the master-builder of human happiness. But I must explain to
                                    you how all this mistaken idea of denouncing pleasure and praising pain was born and
                                    I will give you a complete account of the system, and expound the actual teachings
                                    of the great explorer of the truth, the master-builder of human happiness.
                                </div>
                            </div>
                        </div>


                        {# Accordion3 card #}

                            <div class="card">
                            <div class="card-header" id="heading3">
                                <h3>
                                    <button class="btn btn-link"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse3"
                                            aria-expanded="false"
                                            aria-controls="collapse3">
                                        {{ "frisch.pdp.accordion3"|trans|sw_sanitize }}
                                        <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                    </button>
                                </h3>
                            </div>

                            <div id="collapse3"
                                 class="collapse"
                                 aria-labelledby="heading3"
                                 data-parent="#PDPaccordion">
                                <div class="card-body">
                                    This is a Placeholder text. But I must explain to you how all this mistaken idea of
                                    denouncing pleasure and praising pain was born and I will give you a complete
                                    account of the system, and expound the actual teachings of the great explorer of the
                                    truth, the master-builder of human happiness. But I must explain to you how all this
                                    mistaken idea of denouncing pleasure and praising pain was born and I will give you
                                    a complete account of the system, and expound the actual teachings of the great
                                    explorer of the truth, the master-builder of human happiness. But I must explain to
                                    you how all this mistaken idea of denouncing pleasure and praising pain was born and
                                    I will give you a complete account of the system, and expound the actual teachings
                                    of the great explorer of the truth, the master-builder of human happiness. But I
                                    must explain to you how all this mistaken idea of denouncing pleasure and praising
                                    pain was born and I will give you a complete account of the system, and expound the
                                    actual teachings of the great explorer of the truth, the master-builder of human
                                    happiness. But I must explain to you how all this mistaken idea of denouncing
                                    pleasure and praising pain was born and I will give you a complete account of the
                                    system, and expound the actual teachings of the great explorer of the truth, the
                                    master-builder of human happiness.
                                </div>
                            </div>
                        </div>


                        {# Accordion4 card #}

                        {# <input type="hidden" class="url-product-bugfix" value="{{ page.product. }}"/>#}
                        <div class="card">
                            <div class="card-header" id="heading4">
                                <h3>
                                    <button class="btn btn-link"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapse4"
                                            aria-expanded="false"
                                            aria-controls="collapse4">
                                        {{ "frisch.pdp.accordion4"|trans|sw_sanitize }}
                                        <span class="card-content-trigger-icon">
                                                        {% sw_icon 'plus' %}
                                                    </span>
                                    </button>
                                </h3>
                            </div>

                            <div id="collapse4"
                                 class="collapse"
                                 aria-labelledby="heading4"
                                 data-parent="#PDPaccordion">
                                <div class="card-body">
                                    This is a Placeholder text. But I must explain to you how all this mistaken idea of
                                    denouncing pleasure and praising pain was born and I will give you a complete
                                    account of the system, and expound the actual teachings of the great explorer of the
                                    truth, the master-builder of human happiness. But I must explain to you how all this
                                    mistaken idea of denouncing pleasure and praising pain was born and I will give you
                                    a complete account of the system, and expound the actual teachings of the great
                                    explorer of the truth, the master-builder of human happiness. But I must explain to
                                    you how all this mistaken idea of denouncing pleasure and praising pain was born and
                                    I will give you a complete account of the system, and expound the actual teachings
                                    of the great explorer of the truth, the master-builder of human happiness. But I
                                    must explain to you how all this mistaken idea of denouncing pleasure and praising
                                    pain was born and I will give you a complete account of the system, and expound the
                                    actual teachings of the great explorer of the truth, the master-builder of human
                                    happiness. But I must explain to you how all this mistaken idea of denouncing
                                    pleasure and praising pain was born and I will give you a complete account of the
                                    system, and expound the actual teachings of the great explorer of the truth, the
                                    master-builder of human happiness.
                                </div>
                            </div>
                        </div>


                    </div>
                    </div>
                {% endblock %}

                {% block page_product_detail_tabs %}

                {% endblock %}

                {% block page_product_detail_cross_selling %}
                    {% if page.crossSellings.elements is defined and page.crossSellings.elements|filter(item => item.total > 0)|length > 0 %}
                        <div class="product-detail-tabs product-detail-cross-selling">
                            {% sw_include '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' with {
                                crossSellings: page.crossSellings
                            } %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% block page_product_detail_payment_method %}
                    {# <div class="pdp-payment-method-container container bow-home">
                         <h2 class="pdp-payment-method-headline text-center">

                        </h2>
                        <div class="align-self-center">
                            <div class="cms-image-container is-standard">
                                <img class="cms-image mw-100" src="{{ asset('bundles/bowfrischtheme/assets/frisch_pdp_payment_method.png') }}" alt="frisch Awards">
                            </div>
                        </div>
                    </div>#}
                {% endblock %}

            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
