.container {
  max-width: 1640px;
  margin: auto;
}
.container-xl{
  max-width: 1920px;
  margin: auto;
}
.container-lg{
  max-width: 1200px;
  margin: auto;
}
.container-md{
  max-width: 940px;
  margin: auto;
}
.container-main {
  padding: 0; // Remove default padding top and bottom of 20px.
}