.footer-minimal {
  .footer-copyright {
    margin-bottom: 2rem;
  }
}

.footer-main {
  background-color: $bg-color-dark;
  color: $font-color-white;
  a {
    color: $font-color-white;
  }

  .footer-columns {
    padding: .5rem;
    .footer-column-headline {
      color: $primary-color;
      text-transform: uppercase;
      a {
        color: $font-color-white;
        }
    }
  }

  .bow-social-icons {
    margin-bottom: 1rem;
    .social-icon-link {
      margin-right: 1rem;
    }

  }

  .footer-bottom {
    background-color: $secondary-color;
    padding-bottom: 3rem;
    color: $primary-font-color;
    a {
      color: $primary-color;
    }
    .bow-logo {
      height: 18px;
      padding-bottom: 4px;
    }
  }
}
.btn.btn-with-corners-secondary.newsletter-action-btn {
  font-size: 1rem;
  .icon {
    height: 20px;
    width: auto;
    margin-right: .5rem;
  }
}

@media screen and (max-width: $screen-xl) {
  .footer-minimal {
    .footer-copyright {
      margin-bottom: 5rem;
    }
  }
  .footer-main {
    .footer-bottom {
      padding-bottom: 7rem;
      .footer-copyright {
        line-height: 2;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .footer-main {
    .footer-bottom {
      padding-bottom: 8rem;
    }
  }
}