.sticky-top-bar-contact-info {
  a {
    color: $font-color-white;
    transition: .3s ease-in-out;
    &:hover {
      color: $primary-color;
    }
  }
}
.header-logo-col {
  padding-right: 0;
}
.header-search-col {
  padding-left: 0;
  padding-right: 0;
  .header-search {
    float: right;
    .form-control {
      max-width: 200px;
      border: none;
      border-bottom: 2px solid $primary-color;
      border-radius: 0;
    }
    .header-search-btn {
      border: none;
      border-bottom: 2px solid $primary-color;
      border-radius: 0;
    }
  }
}

.header-minimal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}


.header-main {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  .header-container {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  #bow-header-video {
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    object-fit:cover;
    font-family:'object-fit: cover';
    z-index: -1;
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0, .3);
    }
  }
  .sticky-top-bar-content {
    background-color: $bg-color-dark;
    color: $font-color-white;
    padding: .5rem 3rem;
    justify-content: space-between;
    font-size: .7rem;
    margin-bottom: 0;
    height: 30px;


    .list-inline-item {
      width: 50%;

      .sticky-top-bar-contact-info {
        width: 100%;
        text-align: right;
        .top-bar-contact-icon {
          .phone-icon {
            height: 16px;
            margin: auto 10px;
          }
        }
      }

    }
  }

  .header-row {
    padding: .25rem 3rem .25rem 3rem;

    .bow-faq {
      padding-left: 0;
      padding-right: 0;
      margin-right: auto;
      .bow-faq-icon {
        height: 25px;
      }
    }
    .header-actions-col {
      padding-right: 0;
      padding-left: 0;
      .account-menu {
        margin-left: 0;
      }
    }
  }
}
/*.is-act-home {
  .header-main {
    height: 100vh;
  }
}*/
.header-logo-picture {
  .img-fluid {
    max-width: 200px;
  }
}

@media screen and (max-width: $screen-sm) {
  .header-main {
    .header-container {
      height: 100px;
      .sticky-top-bar-content {
        padding: .2rem 3rem;
        height: 40px;
      }
    }

  }
}

@media screen and (max-width: $screen-xl) {
  .header-main {
    .header-container {
      height: 100px;
      .sticky-top-bar-content {
        .list-inline-item {
          text-align: center;
          width: 100%;
        }
      }

      .header-logo-col {
        margin: 1rem 0;
      }
    }
    .header-search-col {
      max-width: 100px;
      position: absolute;
      top: 20px;
      left: 0;
    }
  }
  .header-logo-picture {
    .img-fluid {
      max-width: 275px;
      margin-top: -10px;
    }
  }
}

@media screen and (max-width: 1299px) {
  .header-main {
    .header-row {
      padding: .25rem 1rem .25rem 3rem;
    }
  }
  .header-search-col {
    .header-search {
      .form-control {
        max-width: 105px;
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  .header-search-col {
    .header-search {
      .form-control {
        max-width: 140px;
      }
    }
  }
}

