.nav-main {

  .home-link {
    display: none;
  }
  .main-navigation-link {
    color: $primary-font-color;
    padding-top: 12px;
    font-size: .8rem;
    transition: .5s ease-in-out;
    padding-right: 1.5rem;
    &:last-child {
      padding-right: .75rem;
    }
    &:hover {
      color: $primary-color;
    }
  }

}

