.nav-main-toggle-btn {
  .icon {
    color: black;
  }
}
.offcanvas {
  .header-search-col {
    #searchCollapse {
      display: block !important;
      .header-search {
        .form-control {
          max-width: 300px;
        }
      }
    }
  }
}