/*  WISHLIST BUTTON */

.product-wishlist {
  .product-wishlist-action-circle {
    background: #F9F9F9;
    .icon-wishlist {
      color: $primary-color;
    }
  }
}

.pdp-wishlist-btn {
  .product-wishlist {

    .product-wishlist-action {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #F9F9F9;

      .icon-wishlist {
        width: 25px;
        height: 25px;
        margin: auto;
        color: $primary-color;
      }
    }
  }
}

.btn {
  position: relative;

  img {
    display: block;
  }

  &.btn-buy,
  &.btn-light[title="Details"],
  &.btn-with-corners-primary.btn-cta {

    .icon {
      height: 22px;
      width: 22px;
      margin-right: 1rem;

      > svg {
        top: 3px;

        path {
          fill: $primary-font-color;
        }
      }
    }

  }
  &.btn-with-corners-secondary {
    &.btn-buy,
    &.btn-cta {
      .icon {
        height: 22px;
        width: 22px;
        margin-right: 1rem;
        >svg {
          path {
            fill: $font-color-white;
          }
        }
      }
    }
  }
}

.btn.btn-with-corners-primary,
.btn.btn-with-corners-secondary {

  &.btn-checkout-register,
  &.btn-checkout-confirm,
  &.account-menu-login-button {
    color: #000;
    width: 100%;
  }

  &.btn-account-login {
    color: #000;
  }

  &.disabled {
    color: #ddd !important;
  }

}

.btn {

  &:focus {
    outline: none;
    box-shadow: none;
  }

  /* Shared properties */
  &.btn-buy,
  &.btn-light[title="Details"],
  &.btn-with-corners-primary {
    color: $primary-font-color;
  }
  &.btn-with-corners-secondary {
    color: $font-color-white;
  }
  &.btn-wishlist {
    color: $secondary-color;
    .icon {
      height: 22px;
      width: 22px;
      margin-right: 1rem;
      >svg {
        path {
          fill: $secondary-color;
        }
      }
    }
  }

  &.btn-buy,
  &.btn-light[title="Details"],
  &.btn-with-corners-primary,
  &.btn-with-corners-secondary,
  &.btn-wishlist{

    display: inline-block;
    text-align: center;
    background: none;
    border: none;
    width: auto;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &::before,
    &::after {
      content: "";
      border-color: white;
      position: absolute;
    }
    &:hover,
    &.hovered {
      &::before,
      &::after {
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      color: $primary-color;
      border-color: $primary-color;
      .icon {
        >svg {

          path {
            fill: $primary-color;
          }
        }
      }
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }
  }

  /* Button with text (primary) */

  &.btn-buy,
  &.btn-light[title="Details"],
  &.btn-with-corners-primary,
  &.btn-with-corners-secondary {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    padding: .75rem 2rem;
    text-transform: uppercase;
    &::before,
    &::after {
      width: 30px;
      height: 30px;
      transition: width 0.32s ease-out, height 0.32s ease-out;
    }
    &::before {
      border-top: 2px solid;
      border-left: 2px solid;
    }
    &::after {
      border-bottom: 2px solid;
      border-right: 2px solid;
    }
  }
}

.product-wishlist-action {
  .product-wishlist-btn-content {
    text-decoration: none;
    font-size: 1.5rem;
  }
}


@media screen and (max-width: $screen-md) {
  .btn {
    &.btn-buy,
    &.btn-with-corners-primary,
    &.btn-with-corners-secondary {
      font-size: .9rem;
      line-height: 1.225;
      padding: 1rem 2.5rem;

      &.btn-checkout-register {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: $screen-xl) {
  .btn {
    &.btn-buy,
    &.btn-with-corners-primary,
    &.btn-with-corners-secondary {
      font-size: 1.25rem;
      line-height: 1.225;
      padding: 1rem 2.5rem;

      &.btn-checkout-register {
        width: auto;
      }
    }
    .icon {
      height: 20px !important;
      width: 20px !important;
    }
  }
  .product-wishlist-action {
    .product-wishlist-btn-content {
      text-decoration: none;
      font-size: 1.25rem;

    }
    .icon {
      height: 20px !important;
      width: 20px !important;
    }
  }
}

