//=======================================================================//
// Component - Language Widget
//=======================================================================//
.bow-language-switch {
  margin-right: 3rem;
}
.languages-menu {
  font-size: 1.1rem;
  .list-inline {
    margin: 0;
  }
  .top-bar-list {

    .item-checked{
      font-weight: bold;
    }
    .top-bar-list-item {
      .top-bar-list-label {
        text-transform: uppercase;
      }
    }
    .list-inline-item {
      margin: 0 !important;
    }
    .bow-language-seperator:last-child {
      display: none;
    }
  }
}

@media screen and (max-width: 1299px) {
  .bow-language-switch {
    margin-right: 1rem;
  }
}