.js-pseudo-modal {
  .modal.fade.show {
    background-color: rgba(0,0,0, .5);
    .modal-dialog {
      max-width: 700px;
      margin: 10% auto;
      .modal-content {
        background-color: rgba(255,255,255, .95);
        .modal-header {
          justify-content: center;
          .modal-title {
            padding-top: 2rem;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 200;
            letter-spacing: 2px;
          }
          .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 12px;
            margin: 0;
            background-color: #cccccc;
            transition: .3s ease-in-out;
            &.close {
              opacity: 1;
            }
            &:hover {
              background-color: $primary-color;
            }
            .icon {
              color: $font-color-white;
              > svg {
                top: 3px;
              }
            }
          }
        }
        .modal-body.form-content {
          padding: 0 2rem 1rem;
          p {
            text-align: center;
            padding: 0 2rem 1rem;
            font-weight: lighter;
          }
          .form-content {
            .form-row {
              .form-label {
                display: none;
              }
              .form-control {
                border: 2px solid $primary-font-color;
                width: 75%;
                margin: auto;
                border-radius: 0;
                padding: 1rem 1.5rem;
              }
            }
            div:not([class]), div[class=""] {
              display: none;
            }
            .form-text.mt-4.mb-2 {
              display: none;
            }
            .privacy-notice {
              text-align: center;
              .custom-control-label {
                font-size: .75rem;
                a {
                  color: inherit;
                  text-decoration: underline !important;
                }
              }
            }
          }
        }
        .modal-footer {
          border-top: none;
          justify-content: center;
          .btn.btn-primary {
            color: black;
            display: inline-block;
            text-align: center;
            background: none;
            border: none;
            width: auto;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.2;
            padding: 1rem 2rem;
            text-transform: uppercase;
            &::before,
            &::after {
              content: "";
              border-color: black;
              position: absolute;
              width: 36px;
              height: 36px;
              transition: width 0.32s ease-out, height 0.32s ease-out;
            }
            &::before {
              border-top: 3px solid;
              border-left: 3px solid;
              top: 0;
              left: 0;
            }
            &::after {
              border-bottom: 3px solid;
              border-right: 3px solid;
              bottom: 0;
              right: 0;
            }
            &:focus {
              outline: none;
            }
            &:hover {
              color: $primary-color;
              border-color: $primary-color;
              &::before,
              &::after {
                width: 100%;
                height: 100%;
              }
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .js-pseudo-modal {
    .modal.fade.show {
      background-color: rgba(0, 0, 0, .5);

      .modal-dialog {
        max-width: 700px;
        margin: 10% auto;

        .modal-content {
          background-color: rgba(255, 255, 255, .9);

          .modal-header {
            justify-content: center;

            .modal-title {
              padding-top: 2.5rem;
              font-size: 2rem;
              text-transform: uppercase;
              font-weight: 500;
              text-align: center;
            }
          }
          .modal-body.form-content {
            padding: 0 1rem 1rem;

            p {
              text-align: center;
              padding: 0 .5rem 1rem;
            }
          }
        }
      }
    }
  }
}