.cms-section-sidebar-sidebar-content {
  .category-navigation-link.is-active {
    color: $primary-font-color;
  }
  .category-navigation.level-0 {
    .category-navigation-entry {
      border-bottom: none;
    }
  }
}
.btn.maxia-extra-detail-btn {

  .icon-arrow-head-right {
    display: none;
  }
}
.product-box {
  border-color: transparent;
  margin: .5rem;
  //text-align: center;
  .card-body {
    margin: 2rem .5rem;
    //box-shadow: 6px 6px 6px 1px $secondary-color;
    //transition: .3s ease-in-out;
    /*&:hover {
      box-shadow: 6px 6px 6px 1px rgba(198,12,49, .5);
    }*/
    .product-info {
      .product-description {
        order: 1;
        display: none;
      }
      .maxia-listing-variants {
        order: 2;
        margin-top: 0;
        flex: initial;
        margin-bottom: 0;
      }
      .product-name {
        order: 3;
      }
      .product-price-info {
        order: 4;
        margin-top: auto;
      }
      .product-delivery-information {
        order: 5;
      }
      .product-action {
        order: 6;
        &.maxia-quickbuy-actions {
          .btn.btn-buy {
            .icon.icon-cart {
              display: none;
            }
          }
        }
      }
      .maxia-extra-detail-btn {
        order: 7;
      }
    }
  }
  .product-detail-configurator-option {
    .product-detail-configurator-option-label.is-display-text {
      box-shadow: none;
      padding: 6px 6px;
      font-size: .65rem;
    }
  }
  .product-detail-configurator-group {
    margin-bottom: 0 !important;
  }
  .product-image {
    max-height: 500px;
    margin-bottom: 1rem;
  }
  .product-action {
    margin-bottom: 0;
    margin-top: .5rem;
  }
  .btn-buy {
    background-color: transparent;
    color: $primary-color;
    border-color: $primary-color;
    &.btn {
      width: 100%;
      /*&[title="Warenkorb"]::before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#758CA3" fill-rule="evenodd" d="M5.892 3c.5523 0 1 .4477 1 1s-.4477 1-1 1H3.7895a1 1 0 0 0-.9986.9475l-.7895 15c-.029.5515.3946 1.0221.9987 1.0525h17.8102c.5523 0 1-.4477.9986-1.0525l-.7895-15A1 1 0 0 0 20.0208 5H17.892c-.5523 0-1-.4477-1-1s.4477-1 1-1h2.1288c1.5956 0 2.912 1.249 2.9959 2.8423l.7894 15c.0035.0788.0035.0788.0042.1577 0 1.6569-1.3432 3-3 3H3c-.079-.0007-.079-.0007-.1577-.0041-1.6546-.0871-2.9253-1.499-2.8382-3.1536l.7895-15C.8775 4.249 2.1939 3 3.7895 3H5.892zm4 2c0 .5523-.4477 1-1 1s-1-.4477-1-1V3c0-1.6569 1.3432-3 3-3h2c1.6569 0 3 1.3431 3 3v2c0 .5523-.4477 1-1 1s-1-.4477-1-1V3c0-.5523-.4477-1-1-1h-2c-.5523 0-1 .4477-1 1v2z"></path></svg>');
      }*/
    }
  }
  .btn.btn-light[title="Details"] {
    width: 100%;
    /*&[title="Details"]::before {
      content: "+";
    }*/
  }
}
.maxia-listing-quantity-select.product-detail-quantity-select {
  border: 2px solid $primary-font-color;
  font-weight: 500;
}
.maxia-quickbuy-actions {
  .btn.btn-buy {
    .icon {
      > svg {
        top: 7px;
      }
    }
  }
}

.wishlist-container {
  text-align: right;
  .btn.btn-wishlist {
    .product-wishlist-btn-content {
      text-decoration: none;
    }
  }
}

.product-wishlist {
  margin-top: 1rem;
  margin-bottom: 2rem;
  .product-wishlist-action-circle {
    right: 2rem;
  }
}
.product-info {
  //border-bottom: 3px solid $secondary-bg-color;
  .product-name {
    font-size: 1.4rem;
    font-weight: 600;
    height: 50px;
    padding-top: 0;
    line-height: 1.1;
    margin-top: auto;
  }
  .product-description {
    height: 90px;
    line-height: 2;
  }
}
.product-price-info {
  margin-top: 1rem;
  padding-top: 0;
  .product-price {
    font-size: 1.25rem;
    font-weight: 600;
    color: $primary-font-color;
  }
  .product-detail-tax-link {
    color: $primary-font-color;
  }
}
@media screen and (max-width: $screen-lg) {
  .product-box {
    margin: .5rem;
    //text-align: center;
    .card-body {
      margin: .5rem;
    }
  }
  .product-image.is-standard {
    object-fit: contain;
    font-family: "object-fit: contain;";
  }

  .product-info {

    .product-name {
      font-size: 1.25rem;
    }
    .product-price-info {
      //margin-top: 2rem;
      .product-price {
        font-size: 1.1rem;
      }
    }
    .product-variant-characteristics {
      min-height: 1rem;
    }
    .listing-cta-row {
      .product-action {
        margin-bottom: 1rem;
      }
      .wishlist-container {
        text-align: center;
      }
    }
  }
}
