.product-detail-configurator-option-input.is-combinable +
.product-detail-configurator-option-label {
    color: $primary-color;
}

.product-detail {

    .gallery-slider-thumbnails-item-inner {
        padding: 0;
    }

    .gallery-slider-image {
        width: auto;
        height: 90%;
        @media (max-width: $screen-lg) {
            width: 90%;
            height: auto;
        }
    }

    .product-detail-cross-selling {
        .product-image {
            width: 75%;
        }
    }
    .product-detail-media {
        padding-right: 0;
        padding-left: 0;

        .base-slider-dots {
            display: none;
        }

        .gallery-slider-thumbnails-item-inner {
            border-color: transparent;
        }

        .gallery-slider-thumbnails-item.tns-nav-active {
            .gallery-slider-thumbnails-item-inner {
                border-color: $primary-color;
            }
        }
    }

    .product-detail-buy-container {
        padding-right: 0;
        padding-left: 0;

        .product-detail-buy {
            padding: .5rem 4rem;

            .product-detail-buy-widget {
                .btn.btn-with-corners-primary {
                    //font-size: 1.5rem;
                    //padding: 1rem 2.5rem;
                    //margin-left: 1rem;
                    margin-right: 1rem;
                    .icon {
                        height: 22px;
                        width: 22px;
                    }
                }
                .col-md-5, .col-md-7 {
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                }

                &-price {
                    margin-bottom: 2rem;

                    .product-detail-price{
                        color: $primary-font-color;
                        font-weight: 500;
                        font-size: 2.25rem;
                        &-hot {
                            font-weight: 500;
                            font-size: 2.25rem;
                            color: $primary-color;
                        }
                        &-old {
                            color: $primary-font-color;
                            font-weight: 500;
                            font-size: 1.8rem;
                            margin-bottom: 0;
                        }
                    }
                    .product-detail-tax-container {
                        a {
                            color: $primary-font-color;
                            font-weight: 200;
                        }
                    }
                }
                &-btn-buy {
                    margin-bottom: 2rem;
                    margin-right: 2rem;
                    .product-detail-form-container {
                        .col-md-8 {
                            padding-left: 0;
                        }
                        .col-md-4 {
                            padding-right: 30px;

                            .custom-select {
                                border: 2px solid $primary-font-color;
                                height: 52px;
                                padding: 0 .25rem;
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }
                    }
                }

                &-wishlist {
                    .product-wishlist {
                        margin-top: 5px;
                    }
                }
            }
        }

        .product-info-container {
            color: $primary-font-color;
            padding: 30px 60px;

            .product-detail-headline {
                margin-bottom: 0;

                .product-detail-name {
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 1.2;
                }
            }

            .product-short-description {
                margin-top: 2rem;
            }
        }
    }

    #PDPaccordion {
        margin-bottom: 50px;

        .card {
            &:last-of-type {
                border-bottom: 2px solid $secondary-color;
            }

            .card-header {
                padding: 0;
                background-color: transparent;
                border-top: 2px solid $secondary-color;

                button {
                    color: $primary-font-color;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0 10px;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    transition: .5s;

                    .icon {
                        color: $primary-font-color;
                        transition: .5s;
                    }

                    &[aria-expanded="true"] {
                        color: $primary-color;

                        .icon {
                            color: $primary-color;
                            transform: rotate(-45deg);
                            transform-origin: center center;
                        }
                    }
                }
            }

            .card-body {
                margin-bottom: 1rem;

                button.offcanvas-close {
                    display: none;
                }
            }

            // review collapse
            #collapse4 {
                .product-detail-review {
                    &-item-bow {
                        padding-left: 20px;
                        padding-right: 20px;

                        &-title {
                            .product-review-rating {
                                margin-right: .5rem !important;
                            }

                        }
                    }
                }
            }
        }
    }

    .pdp-payment-method-container {
        margin: 5rem auto;
    }
}
.product-detail-configurator-container {
    margin-left: 1.25rem;
}
@media screen and (max-width: $screen-lg) {
    .gallery-slider-thumbnails.is-underneath {
        display: flex !important;
    }
}
@media screen and (max-width: $screen-md) {
    .product-detail {
        .product-detail-buy-container {
            .product-detail-buy {
                .product-detail-buy-widget {
                    text-align: center;

                    &-btn-buy {
                        .product-detail-form-container {
                            .col-md-4 {
                                padding-right: 0;
                                margin-bottom: 2rem;

                                .custom-select {
                                    width: 100px;
                                }
                            }
                        }
                    }

                    &-wishlist {
                        .col-md-8 {
                            margin-left: 0;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }

        .product-info-container {
            padding: 2rem 3rem;

            .product-detail-headline {
                margin-bottom: 0;

                .product-detail-name {
                    font-size: 2.5rem;
                    font-weight: 500;
                    line-height: 1.2;
                }
            }

            .product-short-description {
                margin-top: 2rem;
            }
        }
    }
}
