.product-slider.has-nav {
  padding-left: 2rem;
  padding-right: 2rem;
}
.tns-slider {
  .tns-item {
    padding-right: 10px !important;
    padding-left: 20px;
  }
}
.cms-element-product-slider {
  .product-box {
    //text-align: center;
    padding: .5rem;
    .card-body {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
    .product-image {
      margin-bottom: 0;
      .product-wishlist {
        margin-bottom: 2rem;
      }
    }
    .product-info {
      border: none;
      .product-name {
        //font-size: 1.75rem;
        font-weight: 600;
      }
      .product-description {
        height: 90px;
        line-height: 2;
      }
    }

    .product-price-info {
      margin-top: .5rem;
      .product-price {
        //font-size: 1.5rem;
        color: $primary-font-color;
        //font-weight: 600;
      }
      .product-price-unit {
        height: 0;
      }
    }
  }
  .product-slider-controls-container {
    .product-slider-controls-prev,
    .product-slider-controls-next {
      width: 40px;
      .icon {
        width: 35px;
        height: 35px;
        color: $font-color-white;
        background-color: $bg-color-dark;
        transition: .3s ease-in-out;
        //border-radius: 50%;
        > svg {
          width: 60%;
          top: 0;
          left: 6px;
        }
      }
      &:hover, &:focus {
        .icon {
          background-color: $primary-color;
        }
      }
    }
    .product-slider-controls-prev {
      left: 5px;
    }
    .product-slider-controls-next {
      right: 5px;
    }
  }
}

@media screen and (min-width: $screen-xl) {
  .cms-element-product-slider {
    .tns-carousel {

      .tns-slide-active {
          .product-box {
            .product-info {
              .product-description,
              .product-price-info,
              .product-action {

              }
            }

        }
      }
    }

    /*.product-slider-controls-container {
      .product-slider-controls-prev {
        left: 31%;
        top: 58%;
      }
      .product-slider-controls-next {
        right: 34%;
        top: 58%;
      }
    }*/
  }
}