.cart-item-quantity {
  .cart-item-quantity-container {
    .custom-select {
      &:hover {
        border-color: inherit;
        color: inherit;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}