#quoteCarousel {
  .carousel-item__flex-container {
    .bow-quote-carousel-item {
      text-align: center;
      padding: .5rem 4rem;
      height: 300px;

      .bow-quote-content {
        font-size: 1.25rem;
        font-style: italic;
        margin-bottom: 2rem;
        font-weight: 400;
        &::before {
          content: "“";
          display: block;
          margin-bottom: 2rem;
          width: 100%;
          height: 25px;
          text-align: center;
          color: $primary-color;
          font-size: 4rem;
        }
      }
      .bow-quote-name {
        font-weight: 600;
        color: $primary-color;
        font-size: 1rem;
      }
    }
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 35%;
    width: auto;
    display: block;
    .icon {
      height: 35px;
      width: 35px;
      color: #fff;
      background-color: black;
      //border-radius: 50%;
      padding-bottom: 7px;
      transition: .3s ease-in-out;
      > svg {
        width: 60%;
        left: 6px;
      }
    }
    &:hover, &:focus {
      .icon {
        background-color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  #quoteCarousel {
    .carousel-item__flex-container {
      .bow-quote-carousel-item {
        padding: 1.5rem 3rem;
        .bow-quote-content {
          font-size: 1.1rem;
          margin-bottom: 1rem;
        }
        .bow-quote-name {
          font-size: .9rem;
        }
      }
    }
  }
}