.scroll-up-button {
  left: calc(50% - 30px);
  bottom: 0 !important;
  width: 60px;
  .btn-primary {
    background-color: $bg-color-dark;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    transition: .3s ease-in-out;
    .icon {
      color: $primary-color;
      width: 20px;
      height: 20px;
      transition: .3s ease-in-out;
    }
    &:hover {
      background-color: $primary-color;
      .icon {
        color: $font-color-white;
      }
    }
    :focus {
      box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .25)
    }
  }
}
.bottom-cta-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  .headset-icon-btn {
    background-color: $bg-color-dark;
    height: 40px;
    width: 40px;
    //border-radius: 50%;
    transition: .3s ease-in-out;
    > svg {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 20px;
      width: 20px;
      > path {
        fill: $primary-color;
        transition: .3s ease-in-out;
      }
    }
  }
  &:hover {
    .headset-icon-btn {
      background-color: $primary-color;
      > svg {
        > path {
          fill: $font-color-white;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xl) {
  .scroll-up-button {
    bottom: 60px !important;
  }
  .bottom-cta-btn {
    bottom: 65px;
  }
}