/*.bow-sticky-bottom-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100vw;
  background-color: $bg-color-dark;
  text-align: center;
  padding-top: 7px;
  z-index: 2;
  .row{
    margin-left: 0;
    margin-right: 0;
    .bottom-bar-icon-link{
      .icon {
        color: $primary-color;
      }
    }
  }
}*/
@media screen and (max-width: $screen-xl) {
  .header-actions-col {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    background-color: $bg-color-dark;
    text-align: center;
    padding-top: 7px;
    z-index: 2;
    .row {
      justify-content: space-between;
      margin-left: 1rem;
      margin-right: 1rem;
      .col-auto {
        .icon {
          color: $primary-color;
        }
        /*.badge-primary {
          background-color: $primary-color;
        }*/
      }
    }
  }
}
