.bow-white-font {
  h1, h2, h3, h4, h5, h6, p {
    color: $font-color-white;
  }
}
.bow-white-font {
  h1, h2, h3, h4, h5, h6, {
    line-height: 1.5;
  }
}
.icon-review {
  color: $primary-color;
}
.bow-img-grayscale {
  filter: grayscale(1);
}

