html {
  overflow-x: hidden;
}
/*.breadcrumb {
  margin-left: 2rem;
  .breadcrumb-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .breadcrumb-placeholder {
    .icon {
      color: $primary-color;
      > svg {
        height: 27px;
        top: 6px;

      }
    }
  }
}*/
/*a {
  color: inherit;
  transition: .3s ease-in-out;
  &:hover {
    color: $primary-color;
  }
}

.breadcrumb {
  display: none;
}*/

h1, h2, h3, h4, h5, h6, .nav-link, .breadcrumbs {
  font-family: "Raleway", sans-serif;
}
.content-main {
  margin-top: 80px;
  //margin-bottom: 3rem;
}
.is-act-home {
  .content-main {
    margin-top: 0 !important;
  }
}

.header-cart-badge {
  display: inline-block !important;
}
.btn {
  .badge {
    top: 0;
  }
}

@media screen and (max-width: $screen-xl) {
  .is-act-index {
    .content-main {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: $screen-lg) {
  .cms-section {
    .boxed {
      padding-left: 0;
      padding-right: 0;
    }
  }
}