{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    {% block layout_navigation_offcanvas_navigation_actions %}
        <nav class="nav navigation-offcanvas-actions">
            {% block layout_navigation_offcanvas_navigation_action_language %}
               {% sw_include '@Storefront/storefront/component/language-widget.html.twig' with {position: 'offcanvas'} %}
            {% endblock %}

            {% block layout_navigation_offcanvas_navigation_action_currency %}
                {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' with {position: 'offcanvas'} %}
            {% endblock %}
            <div class="header-search-col col-auto m-auto">
                {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            </div>
        </nav>
    {% endblock %}
    {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/categories.html.twig' with { navigation: navigation } %}
    <div class="d-xl-none col-auto bow-faq">
        <a class="bow-faq-link" href="{{ "frisch.faq.link"|trans|sw_sanitize }}" title="{{ "frisch.faq.title"|trans|sw_sanitize }}">
            <img src="{{ asset('bundles/bowfrischtheme/assets/icons/help-circle-black.svg') }}" class="bow-faq-icon">
        </a>
    </div>
{% endblock %}


