{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    {% block layout_top_bar %}
        {% sw_include '@Storefront/storefront/layout/header/top-bar.html.twig' %}
    {% endblock %}

    {% block layout_header_navigation %}
        <div class="row align-items-center header-row">
        {#  {% block layout_header_navigation_toggle %}
                <div class="col d-none">
                    <div class="menu-button">
                        {% block layout_header_navigation_toggle_button %}
                            <button class="btn nav-main-toggle-btn header-actions-btn"
                                    type="button"
                                    data-offcanvas-menu="true"
                                    aria-label="{{ "general.menuLink"|trans|striptags }}">
                                {% block layout_header_navigation_toggle_button_icon %}
                                    {% sw_icon 'stack' %}
                                {% endblock %}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %} #}

            {% block layout_header_logo %}
                <div class="col-12 col-xl-auto header-logo-col">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}
            {% block base_navigation %}
                <div class="nav-main d-none d-xl-block">
                    {% block base_navigation_inner %}
                        {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock %}

            <div class="d-none d-xl-block col-auto bow-faq">
                <a class="bow-faq-link" href="{{ "frisch.faq.link"|trans|sw_sanitize }}" title="{{ "frisch.faq.title"|trans|sw_sanitize }}">
                    <img src="{{ asset('bundles/bowfrischtheme/assets/icons/help-circle-black.svg') }}" class="bow-faq-icon">
                </a>
            </div>

            {% block layout_header_search %}
                <div class="col-auto header-search-col flex-fill d-none d-xl-block">
                    <div class="row no-gutters">
                        <div class="col-sm-auto d-none">
                            {% block layout_header_navigation_toggle_tablet %}
                                <div class="nav-main-toggle">
                                    {% block layout_header_navigation_toggle_tablet_button %}
                                        <button class="btn nav-main-toggle-btn header-actions-btn"
                                                type="button"
                                                data-offcanvas-menu="true"
                                                aria-label="{{ "general.menuLink"|trans|striptags }}">
                                            {% block layout_header_navigation_toggle_tablet_button_icon %}
                                                {% sw_icon 'stack' %}
                                            {% endblock %}
                                        </button>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                        <div class="col">
                            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block layout_header_actions %}
                <div class="col-12 order-1 col-sm-auto order-sm-2 header-actions-col d">
                    <div class="row no-gutters">

                        {% block layout_header_search_toggle %}

                        {% endblock %}

                        {% block layout_header_navigation_toggle %}
                            <div class="col-auto d-xl-none">
                                <div class="menu-button">
                                    {% block layout_header_navigation_toggle_button %}
                                        <button class="btn nav-main-toggle-btn header-actions-btn"
                                                type="button"
                                                data-offcanvas-menu="true"
                                                aria-label="{{ "general.menuLink"|trans|striptags }}">
                                            {% block layout_header_navigation_toggle_button_icon %}
                                                {% sw_icon 'stack' %}
                                            {% endblock %}
                                        </button>
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                        {% block layout_header_top_bar_language %}
                            <div class="col-auto d-none d-xl-flex bow-language-switch">
                                {% sw_include '@Storefront/storefront/component/language-widget.html.twig' %}
                            </div>
                        {% endblock %}
                        {% block layout_header_actions_account %}
                            <div class="col-auto">
                                <div class="account-menu">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                </div>
                            </div>
                        {% endblock %}

                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist %}
                                <div class="col-auto">
                                    <div class="header-wishlist">
                                        <a class="btn header-wishlist-btn header-actions-btn"
                                           href="{{ path('frontend.wishlist.page') }}"
                                           title="{{ 'header.wishlist'|trans|striptags }}"
                                           aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}

                                        </a>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}

                        {% block layout_header_actions_cart %}
                            <div class="col-auto">
                                <div class="header-cart"
                                     data-offcanvas-cart="true">
                                    <a class="btn header-cart-btn header-actions-btn"
                                       href="{{ path('frontend.checkout.cart.page') }}"
                                       data-cart-widget="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}


{% endblock %}
