{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    <ul class="top-bar sticky-top-bar-content d-flex list-inline">
        <li class="list-inline-item">
            <span class="top-bar-usp-content">
                {{ "frisch.topBar.bannerText"|trans }}
            </span>
        </li>
        <li class="list-inline-item d-none d-xl-inline-block">

            <div class="sticky-top-bar-contact-info">
                <span class="top-bar-contact-hotline-info" >
                    <b>Service-Hotline: </b>{{ "frisch.topBar.serviceHotline"|trans }}
                </span>
                <a class="top-bar-contact-link" href="tel:{{ "frisch.contact.phone"|trans }}"
                   title="Kontakttelefon">
                    <span class="top-bar-contact-icon">
                        <img src="{{ asset('bundles/bowfrischtheme/assets/icons/phone-white.svg') }}"
                             class="phone-icon">
                    </span>
                    <span class="top-bar-contact-content">
                        {{ "frisch.contact.phone"|trans }}
                    </span>
                </a>

            </div>


        </li>

        <nav class="top-bar-nav">
            {% block layout_header_top_bar_language %}

            {% endblock %}

            {% block layout_header_top_bar_currency %}

            {% endblock %}

            {# @deprecated tag:v6.5.0 - will be removed, has been moved to footer #}
            {% block layout_header_top_bar_service %}{% endblock %}
        </nav>
    </ul>
{% endblock %}
