{% block layout_header_actions_language_widget%}
{#  {% if position is empty %}
        {% set position = 'top-bar' %}
    {% endif %}
#}
    {% if  page.header.languages.count > 1 %}
        <div class="top-bar-nav-item top-bar-language">
            {% block layout_header_actions_language_widget_form %}
                <form method="post"
                      action="{{ path('frontend.checkout.switch-language') }}"
                      class="language-form"
                      data-form-auto-submit="true">

                    {% block layout_header_actions_language_widget_form_csrf %}
                        {{ sw_csrf('frontend.checkout.switch-language') }}
                    {% endblock %}

                    {% block layout_header_actions_language_widget_content %}
                        {% set isoCode = page.header.activeLanguage.translationCode.code|lower|split('-') %}
                        {% set country = isoCode[0] %}
                        {% set language = isoCode[1] %}

                        <div class="languages-menu">

                            {% block layout_header_actions_languages_widget_form_items %}
                                <ul class="top-bar-list list-inline">
                                    {% for language in  page.header.languages %}
                                        <li class="top-bar-list-item list-inline-item{% if language.id is same as(page.header.activeLanguage.id) %} item-checked{% endif %}"
                                            title="{{ language.translated.name }}">

                                            {% block layout_header_actions_languages_widget_form_items_flag %}
                                                {% set isoCode = language.translationCode.code|lower|split('-') %}
                                                {% set flagCountry = isoCode[0] %}
                                                {% set flagLanguage = isoCode[1] %}

                                                <label class="top-bar-list-label"
                                                       for="{{ language.id }}">
                                                    <input id="{{ language.id }}"
                                                           class="top-bar-list-radio"
                                                           value="{{ language.id }}"
                                                           name="languageId"
                                                           type="radio"
                                                            {% if language.id is same as(page.header.activeLanguage.id) %} checked{% endif %}>

                                                    {{ isoCode[0] }}

                                                </label>
                                            {% endblock %}
                                        </li>
                                        <span class="bow-language-seperator">| </span>
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>

                        <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

                        {% for key, value in app.request.attributes.get('_route_params') %}
                            <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
                        {% endfor %}
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}